<DOCTYPE!>
<html>
<head>
</head>
<style>
body{
    background-image: url('http://cfile229.uf.daum.net/image/2531414C50FE4D2B32A17A');
    text-align: center;
    padding-top: 100px;
}
h1{
  font-size:45px;
  }
p{
    font-size:45px;
}
a{
    font-size:30px;
}
</style>
<body>
<h1>Logout Page</h1>
<p>Do you want logout?</p>
<a href ="/users/sign_out">Logout</a>

<%= current_user.email %>
<body>
</html>